In [1]:
#Import Dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
itinerary_df = pd.read_csv("Data/WeatherPy_vacation.csv")
itinerary_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,80.64,clear sky,-9.80,-139.03,Villa Enata
1,Aras,ES,84.20,clear sky,42.56,-2.36,Jardines de Viana Spa
2,Saint George,US,84.00,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
3,Vaini,TO,69.80,few clouds,-21.20,-175.20,Keleti Beach Resort
4,Chuy,UY,63.82,clear sky,-33.70,-53.46,Nuevo Hotel Plaza

## Choose 4 cities for direction layer map.

In [3]:
#City 1.
Shasta_Lake_df=itinerary_df[itinerary_df["City"]== 'Shasta Lake']
Shasta_Lake_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
390,Shasta Lake,US,77.0,clear sky,40.68,-122.37,Shasta Dam Motel

In [4]:
#City 2.
Lompoc_df=itinerary_df[itinerary_df["City"]== 'Lompoc']
Lompoc_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
118,Lompoc,US,55.4,mist,34.64,-120.46,Holiday Inn Express Lompoc

In [5]:
#City 3.
Saint_George_df= itinerary_df[itinerary_df["City"]== 'Saint George']
Saint_George_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Saint George,US,84.0,clear sky,37.1,-113.58,Best Western Plus Abbey Inn

In [6]:
#City 4.
Barstow_df=itinerary_df[itinerary_df["City"]== 'Barstow']
Barstow_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
354,Barstow,US,77.0,clear sky,34.9,-117.02,"Motel 6 Barstow, CA"

In [7]:
# function to get tuple of lat & long for each city
def coordinates(df):
    city = {}
    for index, row in df.iterrows():
        lat = row["Lat"]
        lng = row["Lng"]
        city["location"] = (lat, lng)
    return city["location"]

In [8]:
#Store the location coordinates into variables for plotting later.
barstow = coordinates(Barstow_df)
george=coordinates(Saint_George_df)
lompoc=coordinates(Lompoc_df)
lake=coordinates(Shasta_Lake_df)

#Print to check.
print(barstow, george, lompoc, lake)

(34.9, -117.02) (37.1, -113.58) (34.64, -120.46) (40.68, -122.37)

In [9]:
#configure the gmaps key.
gmaps.configure(api_key=g_key)

#Set the varaible for plot, and format map to center on Saint George, and zoom for a better view.
fig = gmaps.figure(center=(37.1, -113.58), zoom_level=5.5)

#Set the variable for direction layer.
lake2george_via_barstowandlompoc = gmaps.directions_layer(
        lake, george, waypoints=[lompoc, barstow],
        travel_mode='DRIVING')

#Add the direction layer.
fig.add_layer(lake2george_via_barstowandlompoc)

#Call the variable to plot.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a new DataFrame that has all the individual city DataFrames you created.

In [10]:
#axis=o for a verticalstack and (axis=1 for a horizontal stack).

selected_cities_df=pd.concat([Shasta_Lake_df, Barstow_df, Lompoc_df, Saint_George_df ], axis=0)
selected_cities_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
390,Shasta Lake,US,77.0,clear sky,40.68,-122.37,Shasta Dam Motel
354,Barstow,US,77.0,clear sky,34.90,-117.02,"Motel 6 Barstow, CA"
118,Lompoc,US,55.4,mist,34.64,-120.46,Holiday Inn Express Lompoc
2,Saint George,US,84.0,clear sky,37.10,-113.58,Best Western Plus Abbey Inn

In [11]:
#edit the info box template to contain;hotel name,city name,country name and current description(plus max temp).
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the data from dataframe row into hotels info variable.
hotels_info = [info_box_template.format(**row) for index, row in selected_cities_df.iterrows()]

In [12]:
#Store coordinates in locations.
locations =selected_cities_df[["Lat", "Lng"]]


#Set the varaible for plot and format for center and zoom.
fig = gmaps.figure(center=(37.1, -113.58), zoom_level=5.5)


#Set the variable for marker.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotels_info)


#Add the marker layer.
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))