Create a new Jupyter Notebook file and label it Vacation_Itinerary.ipynb.
Import the WeatherPy_vacation.csv file as a new DataFrame.
From the vacation search map, choose at least four cities in close proximity on your map that are on the same continent that a customer might travel to, and then create a directions layer map.
Hints:

Filter the DataFrame for each city you want to go to and create separate DataFrames for each city.
Use the directions Layer instructions from the gmaps documentation (Links to an external site.).
Use the list indexing and Pandas methods to get the latitude-longitude pairs for each city DataFrame as tuples.
For the travel_mode, use either DRIVING, BICYCLING, or WALKING.
Hint: If the cities are too far apart, some travel modes will not be available.
Take a screenshot of the route and save it as WeatherPy_travel_map.png.
Create a marker layer map for the four cities.
Hint: Create a new DataFrame that has all the individual city DataFrames you created.

On the marker layer map, make sure each city has a pop-up marker that contains the following:
Hotel name
City
Country
Current weather description with the maximum temperature
Take a screenshot of the marker layer map for the route and save it as WeatherPy_travel_map_markers.png.

In [2]:
#Import Dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
from config import g_key

In [31]:
# Store the CSV you saved created in part one into a DataFrame.
itinerary_df = pd.read_csv("Data/WeatherPy_vacation.csv")

#View the first five rows of dataframe after dropping rows with missing values.
itinerary_df.dropna().reset_index(drop=True).head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Santa Marta,CO,79.00,overcast clouds,11.24,-74.20,Hotel La Ballena Azul
1,Joshimath,IN,74.25,clear sky,30.57,79.57,Shivalik Camps & Resort
2,Roma,US,71.60,few clouds,43.21,-75.46,Wingate By Wyndham Rome
3,Arraial Do Cabo,BR,70.59,few clouds,-22.97,-42.03,Pousada Porto Praia
4,Jawhar,SO,78.01,few clouds,2.78,45.50,hantiwadaag village part one

## Choose 4 cities for direction layer map.

In [4]:
#City 1.
Shasta_Lake_df=itinerary_df[itinerary_df["City"]== 'Shasta Lake']
Shasta_Lake_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
186,Shasta Lake,US,82.0,clear sky,40.68,-122.37,Shasta Dam Motel

In [5]:
#City 2.
Lompoc_df=itinerary_df[itinerary_df["City"]== 'Lompoc']
Lompoc_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
99,Lompoc,US,69.01,clear sky,34.64,-120.46,Holiday Inn Express Lompoc

In [6]:
#City 3.
Saint_George_df= itinerary_df[itinerary_df["City"]== 'Saint George']
Saint_George_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Saint George,US,80.6,clear sky,37.1,-113.58,Best Western Plus Abbey Inn

In [7]:
#City 4.
San_Francisco_df=itinerary_df[itinerary_df["City"]== 'San Francisco']
San_Francisco_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
114,San Francisco,US,71.6,clear sky,37.77,-122.42,The Clift Royal Sonesta Hotel

In [54]:
def coordinates(df):
    location = []
    for row in df.itertuples():
      location.append((row.Lat, row.Lng))
    return location

In [57]:
coordinates(itinerary_df[
    (itinerary_df.City == "San Francisco") |
    (itinerary_df.City == "Saint George")|
    (itinerary_df.City == "Lompoc")|
    (itinerary_df.City == "Shasta Lake")
])

[(37.1, -113.58), (34.64, -120.46), (37.77, -122.42), (40.68, -122.37)]

(37.77, -122.42)
(37.1, -113.58)
(34.64, -120.46)
(40.68, -122.37)

Figure(layout=FigureLayout(height='420px'))

### Create a new DataFrame that has all the individual city DataFrames you created.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
186,Shasta Lake,US,82.00,clear sky,40.68,-122.37,Shasta Dam Motel
114,San Francisco,US,71.60,clear sky,37.77,-122.42,The Clift Royal Sonesta Hotel
99,Lompoc,US,69.01,clear sky,34.64,-120.46,Holiday Inn Express Lompoc
13,Saint George,US,80.60,clear sky,37.10,-113.58,Best Western Plus Abbey Inn

In [66]:


locations =selected_cities_df[["Lat", "Lng"]]
max_temp = selected_cities_df["Max Temp"]
#Set the varaible for plot.
fig = gmaps.figure(center=(37.7, -115.42), zoom_level=4.5)


#Set the variable for marker.
marker_layer = gmaps.marker_layer(locations, info_box_content=cities_info)


#Add the marker layer.
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))