In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Christchurch,NZ,2020-05-26 22:53:51,-43.53,172.63,46.99,93,0,1.12
1,1,Ushuaia,AR,2020-05-26 22:55:29,-54.80,-68.30,48.20,61,75,4.59
2,2,Uray,RU,2020-05-26 22:57:57,60.12,64.78,46.56,71,59,0.69
3,3,Ponta Do Sol,PT,2020-05-26 22:55:42,32.67,-17.10,66.99,76,100,1.95
4,4,Ahuimanu,US,2020-05-26 22:57:58,21.44,-157.84,84.20,62,98,9.17

In [8]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## Create a Percent Max Temperature Heatmap

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature.
max_temp = city_data_df['Max Temp']
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [11]:
# Heatmap of percent humidity
# Get the latitude and longitude.
location=city_data_df[['Lat','Lng']]
#Get Humidity for weights.
humidity=city_data_df['Humidity']
#Assign figure.
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#Assign heat map variable.
heat_layer=gmaps.heatmap_layer(location,weights=humidity,dissipating=False,max_intensity=300,point_radius=4)
#Add the heat map layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [12]:
# Heatmap of percent Cloudiness.
# Get the latitude and longitude.
location=city_data_df[['Lat','Lng']]
#Get Cloudiness for weights.
clouds=city_data_df['Cloudiness']
#Assign figure.
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#Assign heat map variable.
heat_layer=gmaps.heatmap_layer(location,weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
#Add the heat map layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [13]:
#Heatmap of Wind Speed.
#Call the Location.
location=city_data_df[['Lat','Lng']]
#Set the weight.
winds=city_data_df['Wind Speed']
#Assign figure variable.
fig=gmaps.figure(center=(30.0,31.00),zoom_level=1.5)
#Assign the heat map variable.
heat_layer=gmaps.heatmap_layer(location,weights=winds, dissipating=False,max_intensity=400,point_radius=4)
#Add the heat map layer.
fig.add_layer(heat_layer)
#Show the fig.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Ahuimanu,US,2020-05-26 22:57:58,21.44,-157.84,84.20,62,98,9.17
5,5,Rikitea,PF,2020-05-26 22:55:30,-23.12,-134.97,74.95,82,94,17.81
7,7,Matadi,CD,2020-05-26 22:57:58,-5.82,13.45,75.24,84,83,3.29
11,11,Kupang,ID,2020-05-26 22:56:48,-10.17,123.58,77.00,94,20,2.24
13,13,Bambous Virieux,MU,2020-05-26 22:55:32,-20.34,57.76,73.40,78,20,6.93
15,15,Atuona,PF,2020-05-26 22:55:43,-9.80,-139.03,81.37,73,17,13.47
22,22,Vila,PT,2020-05-26 22:55:44,42.03,-8.16,71.60,64,0,1.12
26,26,Cabo San Lucas,MX,2020-05-26 22:56:16,22.89,-109.91,84.20,34,5,6.93
30,30,Broome,US,2020-05-26 22:56:21,42.25,-75.83,87.01,42,1,5.53
31,31,Vaini,TO,2020-05-26 22:55:35,-21.20,-175.20,78.80,69,75,5.82

In [18]:
#Check for null value.
preferred_cities_df.count()

City_ID       251
City          251
Country       251
Date          251
Lat           251
Lng           251
Max Temp      251
Humidity      251
Cloudiness    251
Wind Speed    251
dtype: int64

## Get Travel Destinations

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
4          Ahuimanu      US     84.20  21.44 -157.84
5           Rikitea      PF     74.95 -23.12 -134.97
7            Matadi      CD     75.24  -5.82   13.45
11           Kupang      ID     77.00 -10.17  123.58
13  Bambous Virieux      MU     73.40 -20.34   57.76
15           Atuona      PF     81.37  -9.80 -139.03
22             Vila      PT     71.60  42.03   -8.16
26   Cabo San Lucas      MX     84.20  22.89 -109.91
30           Broome      US     87.01  42.25  -75.83
31            Vaini      TO     78.80 -21.20 -175.20

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Ahuimanu,US,84.20,21.44,-157.84,Paradise Bay Resort
5,Rikitea,PF,74.95,-23.12,-134.97,Pension Maro'i
7,Matadi,CD,75.24,-5.82,13.45,Hotel Fortune
11,Kupang,ID,77.00,-10.17,123.58,Sylvia Hotel Premier Kupang
13,Bambous Virieux,MU,73.40,-20.34,57.76,Casa Tia Villa
15,Atuona,PF,81.37,-9.80,-139.03,Villa Enata
22,Vila,PT,71.60,42.03,-8.16,Hotel Castrum Villae
26,Cabo San Lucas,MX,84.20,22.89,-109.91,Hotel Tesoro Los Cabos
30,Broome,US,87.01,42.25,-75.83,Chenango Valley State Park
31,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]

#Set the variable for weight.
max_temp = hotel_df["Max Temp"]

#Set the varaible for plot.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Set the variables for heatmap.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

#Set the variable for marker.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#Add the heat layer.
fig.add_layer(heat_layer)

#Add the marker layer.
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))